---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets'
// import { Image, Picture } from "@astrojs/image/components";
import BlogCard from "@components/BlogCardShort.astro";

interface Frontmatter {
    title: string;
    pubDate: string;
}

let blogs = await Astro.glob<Frontmatter>("./blog/*.{md, mdx}");
blogs = blogs.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
const latestBlogs = blogs.slice(0, 5);

---

<Layout>
    <section>
      <header>
        <div class="flex mb-5">
          <h1 class="text-3xl sm:text-4xl font-semibold tracking-tight">
            Hi 👋🏻, I'm Erdal!
          </h1>
          <picture>
            <img 
                src="/assets/other/profile.png" 
                alt="Erdal's memoji" 
                class="sm:hidden p-0 m-0 not-prose absolute top-16" 
                width="150" 
                loading="eager" />
          </picture>
        </div>
      </header>
      <div class="flex items-center">
        <p class="text-xl text-zinc-300">
          Through my journey focusing on AI/ML, Privacy and Software Ecosystems, I launched this website to share my knowledge and document some of my projects.
        </p>
        <picture>          <img 
            src="/assets/other/profile.png" 
            alt="Erdal's memoji" 
            class="hidden sm:flex p-0 m-0 not-prose" 
            width="500" 
            loading="eager" 
            sizes="(min-width: 640px) 550px, 500px" />
        </picture>
      </div>
    </section>
      

    <section class="mt-10">
        <h2 class="m-0 mb-5 font-semibold tracking-tight w-full border-b border-gray-600">
          <a href="/blog" class="no-underline hover:no-underline text-orange-200 hover:text-orange-200 visited:text-orange-200">
            Latest Posts
          </a>
        </h2>
        <ul class="p-0 not-prose">
            {
                latestBlogs.map((post) => (
                    <BlogCard
                        title={post.frontmatter.title}
                        pubDate={post.frontmatter.pubDate}
                        url={post.url}
                    />
                ))
            }
        </ul>
    </section>
</Layout>
