---
import { Icon } from 'astro-icon/components'
---

<button
    id="search-button"
    class="flex items-center px-3 py-1.5 rounded-lg sm:hover:bg-orange-50 sm:dark:hover:bg-zinc-800"
    aria-label="Search"
>
    <Icon name="meteor-icons:search" class="w-5 h-5" />
</button>
